*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.maincontent {
  flex-grow: 1;
}

.dots-image::before {
  content: "";
  width: 131px;
  height: 115px;
  background: url("../img/dots.svg") center center no-repeat;
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;
}

.content-section,
.content-section__item:not(:first-child) {
  margin-top: 220px;

  @include medium {
    margin-top: 50px;
  }
}

.content-section__image {
  padding-right: 35px;

  @include medium {
    display: none;
  }
}

.content-section__content-wrapper {
  padding-left: 35px;

  @include medium {
    padding-left: 0;
  }
}

.content-section__item:nth-child(2n) .content-section__image {
  order: 2;
  padding-left: 35px;
  padding-right: 0;

  @include medium {
    padding-left: 0;
  }
}

.content-section__item:nth-child(2n) .content-section__content-wrapper {
  order: 1;
  padding-right: 35px;
  padding-left: 0;

  @include medium {
    padding-left: 0;
  }
}

.content-section__title {
  max-width: 360px;

  @include medium {
    max-width: 100%;
  }
}

.content-section__description {
  margin-top: 31px;
  max-width: 450px;

  color: #7d7987;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 300;

  @include medium {
    max-width: 100%;
  }
}

.content-section__btn {
  margin-top: 37px;

  @include medium {
    display: block;
    margin: 37px auto 0;
  }
}

.title {
  font-size: 36px;
  line-height: 1.55;
  font-weight: 700;
  color: #000;

  position: relative;
  padding-bottom: 26px;
  display: inline-block;
}

.title::before {
  content: "";
  background: #000;
  width: 56px;
  height: 2px;
  border-radius: 5px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.title--border-middle::before {
  left: 50%;
  transform: translateX(-50%);
}
