.container {
  max-width: 1120px;
  margin: 0 auto;

  @media screen and (max-width: 1151px) {
    padding: 0 15px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

.col-50 {
  width: 50%;
  max-width: 50%;
}

.col-m-100 {
  @include medium {
    width: 100%;
    max-width: 100%;
  }
}
