.hero {
  margin-top: 84px;
  position: relative;
}

.hero::before {
  background: url("../img/blue-dots.svg") left center no-repeat;
  top: 0;
}

.hero__description {
  color: #7d7987;
  font-size: 21px;
  line-height: 1.52;
  font-weight: 300;

  margin-top: 25px;
}

.hero__btn {
  margin-top: 45px;
}

.hero__column--content {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  padding-right: 110px;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  line-height: 1.16;
}
