$gap-x: 17px;

.services {
  margin-top: 192px;

  @include medium {
    margin-top: 50px;
  }
}

.services__top {
  max-width: 950px;
  margin: 0 auto;

  text-align: center;
}

.services__description {
  color: #7d7987;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 300;

  margin-top: 33px;
}

.services__list {
  gap: 37px $gap-x;
}

.services__item {
  @include extra {
    width: calc(50% - #{$gap-x});
    display: flex;
    justify-content: center;
  }

  @include small {
    width: 100%;
  }
}

.services__button {
  margin-top: 69px;
  text-align: center;
}
