@import "./mixins";
@import "../../node_modules/normalize.scss/normalize.scss";

@import "./parts/button";
@import "./parts/grid";
@import "./parts/global";

@import "./parts/card";

@import "./parts/header";
@import "./parts/footer";
@import "./parts/logo";
@import "./parts/nav";

@import "./parts/hero";
@import "./parts/services";
@import "./parts/slider";
@import "./parts/articles";
