*,
*::before,
*::after {
  box-sizing: border-box;
}

/**

  Common styles

*/

body {
  font-family: "Mulish", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.div {
  width: 300px;
  height: 200px;
  border: 1px solid;
}

img {
  display: block;
  max-width: 100%;
}

.content-section,
.content-section__item:not(:first-child) {
  margin-top: 220px;
}

.content-section__image {
  padding-right: 35px;
}

.content-section__content-wrapper {
  padding-left: 35px;
}

.content-section__item:nth-child(2n) .content-section__image {
  order: 2;
  padding-left: 35px;
  padding-right: 0;
}

.content-section__item:nth-child(2n) .content-section__content-wrapper {
  order: 1;
  padding-right: 35px;
  padding-left: 0;
}

.content-section__title {
  max-width: 360px;
}

.content-section__description {
  margin-top: 31px;
  max-width: 450px;

  color: #7d7987;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 300;
}

.content-section__btn {
  margin-top: 37px;
}

/**

  Grid system

*/

.container {
  width: 1120px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

.col-50 {
  width: 50%;
  max-width: 50%;
}

.maincontent {
  flex-grow: 1;
}

.dots-image::before {
  content: "";
  width: 131px;
  height: 115px;
  background: url("../img/dots.svg") center center no-repeat;
  display: block;

  position: absolute;
}

.blue-dots-image::after {
  content: "";
  width: 131px;
  height: 115px;
  background: url("../img/blue-dots.svg") center center no-repeat;
  display: block;

  position: absolute;
}

.drop-image::before {
  content: "";
  width: 1000px;
  height: 967px;
  background: url("../img/drop1.svg") center center no-repeat;
  background-size: contain;
  display: block;

  position: absolute;
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;

  border-radius: 55px;
  background: none;
  cursor: pointer;
  padding: 17px 40px 19px;
  min-width: 200px;
  border: 1px solid transparent;
}

.button--with-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 17px 35px 19px 40px;
}

.button--with-icon::after {
  content: "";

  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 14px;

  background-position: center center;
  background-repeat: no-repeat;
}

.button--icon-download::after {
  background-image: url("../img/arrow.svg");
}

.button--icon-read-more::after {
  background-image: url("../img/arrow-to-the-right.svg");
}

.button--primary {
  background: #458ff6;
  color: #fff;
}

.button--secondary {
  background: #fff;
  border: 1px solid #458ff6;
  color: #458ff6;
}

.button--text {
  color: #4089ed;
  background: transparent;
  padding: 0;

  font-size: 17px;
  line-height: 1.64;
  font-weight: 600;
  min-width: 125px;
}

.title {
  font-size: 36px;
  line-height: 1.55;
  font-weight: 700;
  color: #000;

  position: relative;
  padding-bottom: 26px;
  display: inline-block;
}

.title::before {
  content: "";
  background: #000;
  width: 56px;
  height: 2px;
  border-radius: 5px;

  position: absolute;
  left: 0;
  bottom: 0;
}

.title--border-middle::before {
  left: 50%;
  transform: translateX(-50%);
}

/**

  Logo

*/

.logo {
  display: inline-block;
}

.logo__img {
  display: block;
  width: 160px;
  height: 41px;
}

.logo__img--dark {
  background: url("../img/logo-dark.svg") center center no-repeat;
}

.logo__img--white {
  background: url("../img/logo-white.svg") center center no-repeat;
}

/**

  Header

*/

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}

/**

  Navigation

*/

.nav__list {
  display: flex;

  padding: 0;
  margin: 0;
  list-style: none;
}
/* Если ты нав-айтем и ты не последний, тебе маржин-райт */
.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 18px;
  line-height: 1.27;
  color: rgba(31, 21, 52, 0.5);
  text-decoration: none;
}

.nav__link--active {
  color: #1f1534;
}

/* line-height/font-size (23/18 = 1.27) */

.nav__link--active {
  color: #1f1534;
}

/**

  Hero

*/

.hero {
  margin-top: 84px;
  position: relative;
}

.hero::after {
  top: 0;
  left: -47px;
}

.hero__description {
  color: #7d7987;
  font-size: 21px;
  line-height: 1.52;
  font-weight: 300;

  margin-top: 25px;
}

.hero__button {
  margin-top: 45px;
}

.hero__column--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-right: 110px;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  line-height: 1.16;
}

/**

  ./Hero

*/

/**

  Services

*/

.services {
  margin-top: 192px;
  position: relative;
}

.services::before {
  top: -26px;
  left: -288px;
}

.services__top {
  max-width: 950px;
  margin: 0 auto;

  text-align: center;
}

.services__description {
  color: #7d7987;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 300;

  margin-top: 33px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px 17px;

  margin-top: 80px;
}

.services__item {
  z-index: 1;
}

.services__item--dots {
  position: relative;
}

.services__item--dots::after {
  right: -54px;
  bottom: -50px;
  z-index: -1;
}

.services__button {
  margin-top: 69px;
  text-align: center;
}

/**

  Slider

*/

.slider {
  margin-top: 251px;
}

.slider__nav {
  margin-top: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__view {
  width: 100%;
  height: 425px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  position: relative;
}

.slider__view::after {
  bottom: 38px;
  left: -52px;
  z-index: -1;
}

.slider__view::before {
  top: 0;
  right: -30px;
}

.slider__list {
  display: flex;
}

.slider__item {
  width: 100%;
  padding: 54px 118px;
}

.slider__title {
  color: #fff;
  display: block;
  text-align: center;
}

.slider__title::before {
  background: #fff;
}

.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.slider__image-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.slider__image {
  border-radius: 50%;
  width: 141px;
  height: 141px;
  object-fit: contain;
  object-position: center;
}

.slider__image-description {
  margin-left: 33px;
}

.slider__content-name {
  font-size: 22px;
  line-height: 2.18;
  color: #fff;
  font-weight: 700;
}

.slider__content-position {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  line-height: 1;
}

.slider__blockquote {
  margin: 0;
  width: 420px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 19px;
  line-height: 1.57;
}

.slider__btn {
  width: 50px;
  height: 50px;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
}

.slider__btn svg {
  fill: #458ff6;
  margin: auto;
}

.slider__btn--disabled svg {
  fill: rgba(69, 143, 246, 0.4);
}

.slider__nav-list {
  margin: 0 90px;
  gap: 0 18px;
  display: flex;
}

.slider__nav-pointer-btn {
  width: 10px;
  height: 10px;
  background: rgba(69, 143, 246, 0.4);
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;

  transition: background-color 0.2s linear;
}

.slider__nav-pointer-btn--active,
.slider__nav-pointer-btn:hover {
  background: #458ff6;
}

/**

  ./Slider

*/

/**

  Card

*/

.card {
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4); /*смещение х - смещение y - размытие тени - цвет*/
  border-radius: 20px;

  padding: 54px 37px;
  max-width: 350px;
}

.card--services {
  min-height: 361px;
}

.card--articles {
  padding: 0;
  min-height: 512px;
}

.card__icon {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.card__icon--search {
  background-image: url(../img/search.svg);
}

.card__icon--pharmacy {
  background-image: url(../img/farmacy.svg);
}

.card__icon--consultation {
  background-image: url(../img/consultation.svg);
}

.card__icon--details {
  background-image: url(../img/details.svg);
}

.card__icon--emergency {
  background-image: url(../img/emergency.svg);
}

.card__icon--tracking {
  background-image: url(../img/tracking.svg);
}

.card__title {
  color: #000;
  font-size: 24px;
  line-height: 2.33;
  font-weight: 700;
}

.card__title--services {
  margin-top: 22px;
}

.card__description {
  color: #7d7987;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}

.card__image {
  height: 240px;
  width: 350px;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.card__title--articles {
  font-size: 21px;
  line-height: 1.52;
  margin-top: 24px;
  max-width: 260px;

  margin-left: 33px;
}

.card__description--articles {
  max-width: 266px;
  margin-left: 33px;
  margin-top: 12px;
}

/**

  ./Card

*/

/** 

Articles

*/

.articles {
  margin-top: 216px;
  position: relative;
}

.articles::before {
  transform: rotate(180deg);
  width: 800px;
  height: 680px;

  right: -340px;
  top: 30px;
}

.articles__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px 34px;

  position: relative;
  margin-top: 79px;
}

.articles__list::after {
  top: -44px;
  left: -50px;
  z-index: -1;
}

.articles__card-btn {
  margin-top: 25px;
  margin-left: 33px;
}

.articles__btn {
  margin-top: 69px;
}

/**

  ./Articles

*/

/**

  Footer

*/

.footer {
  width: 100%;
  position: relative;
  padding: 118px 0 113px 0;
  margin-top: 201px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer::before {
  bottom: 0;
  left: 0;
}

.footer::after {
  right: 91px;
  top: -72px;
  z-index: -1;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__column--small {
  width: 150px;
}

.footer__column--large {
  width: 390px;
}

.footer__column--flex-column {
  display: flex;
  flex-direction: column;
}

.footer-content {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #fffa;
}

.footer__description {
  margin-top: 21px;
}

.footer__copyright {
  margin-top: auto;
}

.footer__column--title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.footer__list {
  margin-top: 35px;
}

.footer__list--item:not(:first-child) {
  margin-top: 20px;
}

.footer__link {
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
}

/**

  ./Footer

*/
